# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Operating system files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Tests output
/coverage

# npm package lock files
package-lock.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next/

# Nuxt.js build output
.nuxt/

# Gatsby files
.cache/
public/

# TypeScript cache
*.tsbuildinfo

# Stylelint cache
.stylelintcache

# Jest cache and coverage output
jest/
.jest/
.jest-cache/
.jest-test-results.json

# Ignore other test related files
test-results/
